# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.






# cached dependencies
node_modules
.node_modules/
/.pnp
.pnp.js
yarn.lock

# test-run output files 
/coverage
TEST-results.xml

# runnable, compiled forms 
dist
/build
built/*
/bin
target/
__pycache__
.bloop/
.metals/
.ammonite/
metals.sbt

# Optional linting cache
.eslintcache

# repo-unworthy Logfiles
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*v8.log

# IDE-specifiques 
# oftentimes there arise needs to make changes to `settings.json` due to failures to build and run  
# VSCode's C/C++ Extension frequently modify `settings.json` (eg for `files.associations`)
.settings
.env.local
.env.development.local
.env.test.local
.env.production.local
/.vscode/*
!/.vscode/extensions.json
.idea

# Platform-specifiques 
.DS_Store

# Misc
*.swp






